.Form {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.Input {
    margin-bottom: 30px;
    padding: 5px;
    width: 300px;
    height: 35px;
    font-size: 22px;
    outline: none;
    margin-right: 15px;
    transition: border 250ms linear;
}

.Input:focus {
    border: 2px solid rgb(133, 5, 5);
}

.Button {
    height: 35px;
    width: 50;
    display: flex;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: transparent;
    background-color: #ff6b6b;
    transition: 
    color 250ms linear,
    background-color 250ms linear;
}

.Icon {
    margin-right: 10px;
}

.Button:hover {
    background-color: rgb(184, 6, 6);
    color: aliceblue;
}