.Title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

.List {
    list-style: none;
}

.Item {
    display: flex;
    align-items: center;
}

.Link {
    text-decoration: none;
    color: #000;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
}

.Link:hover {
    color: rgb(107, 3, 3);
    scale: 1.1;
}