.MovieContainer {
    display: flex;
}

.MovieImgCont {
    padding: 5px;
    border: 2px solid;
}

.MovieDesc {
    padding-left: 50px;
}

.MovieDescSubtitle {
    margin-bottom: 10px;
}

.MovieDescTitle {
    margin-bottom: 25px;
    font-size: 32px;
}

.Icon {
    margin-right: 10px;
}

.Scode {
    font-size: 18px;
    margin-bottom: 25px;
}

.DescInf:not(:last-child) {
    margin-bottom: 20px;
}